<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <comfino>
                <active>0</active>
                <title>Comfino (Raty | Kup Teraz, Zapłać Później | Finansowanie dla Firm)</title>
                <order_status>pending_payment</order_status>
                <instructions>Instruction.</instructions>
                <model>ComfinoFacade</model>
                <group>offline</group>
                <can_use_checkout>1</can_use_checkout>
                <min_order_total>30</min_order_total>
                <widget_enabled>0</widget_enabled>
                <widget_price_selector>span.price</widget_price_selector>
                <widget_target_selector>div.product-add-form</widget_target_selector>
                <widget_price_observer_selector />
                <widget_price_observer_level>0</widget_price_observer_level>
                <widget_type>with-modal</widget_type>
                <widget_offer_type>CONVENIENT_INSTALLMENTS</widget_offer_type>
                <widget_embed_method>INSERT_INTO_LAST</widget_embed_method>
                <widget_code>
define(['{WIDGET_SCRIPT_URL}'], function (ComfinoProductWidget) {
    ComfinoProductWidget.init({
        widgetKey: '{WIDGET_KEY}',
        priceSelector: '{WIDGET_PRICE_SELECTOR}',
        widgetTargetSelector: '{WIDGET_TARGET_SELECTOR}',
        priceObserverSelector: '{WIDGET_PRICE_OBSERVER_SELECTOR}',
        priceObserverLevel: {WIDGET_PRICE_OBSERVER_LEVEL},
        type: '{WIDGET_TYPE}',
        offerType: '{OFFER_TYPE}',
        embedMethod: '{EMBED_METHOD}',
        numOfInstallments: 0,
        price: null,
        callbackBefore: function () {},
        callbackAfter: function () {},
        onOfferRendered: function (jsonResponse, widgetTarget, widgetNode) { },
        onGetPriceElement: function (priceSelector, priceObserverSelector) { return null; },
        debugMode: window.location.hash &amp;&amp; window.location.hash.substring(1) === 'comfino_debug'
    });
});
                </widget_code>
            </comfino>
        </payment>
    </default>
</config>
