<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <comperiapayment>
                <active>1</active>
                <title>Comfino</title>
                <order_status>pending_payment</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>ComperiaFacade</model>
                <group>offline</group>
                <produrl>https://api-ecommerce.comfino.pl</produrl>
                <sandboxurl>https://api-ecommerce.craty.pl</sandboxurl>
                <can_use_checkout>1</can_use_checkout>
            </comperiapayment>
        </payment>
    </default>
</config>
