<style>
    .payment-method-content .comfino {
        max-width: 700px;
        margin: 0 auto;
        padding: 10px;
        font-family: Lato, sans-serif;
        background-color: #fff;
    }

    .payment-method-content .comfino-box {
    }

    .payment-method-content .header {
        display: flex;
        flex-direction: column;
    }

    .payment-method-content .comfino-logo {
        max-height: 40px;
        width: 260px;
        margin: 0 auto;
    }

    .payment-method-content .comfino-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0.875rem 0;
        color: #232323;
    }

    .payment-method-content .comfino-single-payment {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
    }

    .payment-method-content .comfino-single-payment label {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .payment-method-content .comfino-single-payment__text {
        padding-left: 5px;
        font-weight: normal;
    }

    .payment-method-content .comfino-single-payment input {
        width: 25px;
        height: 25px;
    }

    .payment-method-content .comfino-input[type="radio"]:checked, .comfino-input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label, .comfino-input[type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        color: #666;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:before, .comfino-input[type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:after, .comfino-input[type="radio"]:not(:checked)+label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #599e33;;
        position: absolute;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .payment-method-content .comfino-input[type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .payment-method-content .comfino-payment-box {
        background-color: rgb(221, 221, 221);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .payment-method-content .comfino-payment-title {
        color: #666;
    }

    .payment-method-content .comfino-total-payment {
        font-weight: bold;
        color: #232323;
    }

    .payment-method-content .comfino-installments-box {
        display: flex;
        flex-direction: column;
    }

    .payment-method-content .comfino-installments-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #232323;
        text-align: center;
        padding: 20px 0;
    }

    .payment-method-content .comfino-quantity-select {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
        margin: 0 auto;
    }

    .payment-method-content .comfino-select-box {
        display: flex;
    }

    .payment-method-content .comfino-installments-quantity {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(221, 221, 221);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.4rem;
        margin: 10px 20px;
        cursor: pointer;
    }

    .payment-method-content .comfino-active {
        background-color: #599e33;;
    }

    .payment-method-content .comfino-monthly-box {
        background-color: #599e33;;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.2rem;
        color: #fff;
        margin-top: 1rem;
    }

    .payment-method-content .comfino-monthly-title {
        font-size: 1.2rem;
        text-align: center;
    }

    .payment-method-content .comfino-monthly-rate {
        font-weight: bold;
    }

    .payment-method-content .comfino-summary-box {
        text-align: center;
        font-size: .8rem;
        color: gray;
    }

    .payment-method-content .comfino-summary-total {
        padding: .5rem 0;
    }

    .payment-method-content .comfino-rrso {
    }

    .payment-method-content .comfino-footer-link {
        display: block;
        text-align: center;
        padding: .5rem 0;
        color: gray;
        font-size: .73rem;
        margin: 1rem 0 2rem 0;
    }

    .payment-method-content .comfino-payment-delay {
        padding: 1rem;
    }

    .payment-method-content .comfino-payment-delay__title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .payment-method-content .comfino-payment-delay__title span {
        display: block;
        color: #599e33;
        padding: .3rem 0;
    }

    .payment-method-content .comfino-payment-delay__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .payment-method-content .comfino-helper-box {
        display: flex;
        margin-top: 10px;
    }

    .payment-method-content .comfino-payment-delay__single-instruction {
        width: 140px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .payment-method-content .comfin-single-instruction__text {
        text-align: center;
        font-size: .9rem;
        padding-top: 1rem;
        color: #666;
    }

    .payment-method-content .single-instruction-img__background {
        width: 50px;
        height: 50px;
        background-color: #599e33;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
    }

    .payment-method-content .single-instruction-img {
        width: 100px;
        filter: invert(100%)
    }

    .comfino-modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .comfino-modal.open {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }

    .comfino-modal-bg {
        position: absolute;
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
    }

    .comfino-modal-container {
        width: 50%;
        border-radius: 10px;
        background: #fff;
        position: relative;
        padding: 30px;
        max-height: 90%;
        overflow: auto;
    }

    .comfino-modal-close {
        position: absolute;
        right: 15px;
        top: 15px;
        outline: none;
        appearance: none;
        color: red;
        background: none;
        border: 0;
        font-weight: bold;
        cursor: pointer;
    }

    a.representative {
        cursor: pointer;
    }

    a.representative:hover {
        filter: brightness(150%);
    }

    .comfino-icon {
        width: 32px;
        height: 32px;
        padding-top: 2px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    main.comfino-subbox {
        background-color: #fff;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    #comfino-installments {
        display: none;
    }

    #comfino-payment-delay {
        display: none;
    }
</style>

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content" data-bind="visible: isMethodAvailable()">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div id="comfino-offers" data-bind="attr: { src: initPayments() }" class="takpay-offers-block" style="display: block; margin-bottom: 20px;">
            <div id="comfino-box" class="comfino">
                <div class="comfino-box">
                    <div class="header">
                        <svg version="1.1" class="comfino-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 294 75" style="enable-background:new 0 0 294 75;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#878787;}
                                .st1{fill:#5A9E33;}
                                .st2{fill:url(#SVGID_1_);}
                                .st3{fill:url(#SVGID_00000065044133299419642800000008049885483574451335_);}
                            </style><g>
                            <path class="st0" d="M5.8,43.5c0-8.9,5.3-14.1,15.5-14.1c8.1,0,13,3.3,15,9.9c0.2,0.6,0,1-0.5,1.2l-1.2,0.4c-0.6,0.2-0.9,0-1.2-0.6
                                c-1.7-5.7-5.2-8.2-12.2-8.2c-8.1,0-12.3,4.1-12.3,11.1v11.3c0,7,4.4,11.2,12.3,11.2c6.9,0,10.7-2.8,12.3-8.6
                                c0.2-0.6,0.6-0.8,1.2-0.6l1.3,0.4c0.6,0.2,0.7,0.6,0.5,1.2c-2.1,7-7.3,10.5-15.3,10.5c-9.9,0-15.3-5.2-15.3-14.1L5.8,43.5L5.8,43.5
                                z"/>
                                                        <path class="st0" d="M39.5,42.2c0-7.8,6-12.8,15.5-12.8c9.6,0,15.6,4.9,15.6,12.8V56c0,7.8-6,12.7-15.6,12.7
                                c-9.5,0-15.5-4.9-15.5-12.7V42.2z M67.5,42.2c0-6.1-4.9-9.9-12.5-9.9c-7.5,0-12.4,3.9-12.4,9.9V56c0,6,4.9,9.9,12.4,9.9
                                c7.5,0,12.5-3.8,12.5-9.9V42.2z"/>
                                                        <path class="st0" d="M112.3,29.4c8.5,0,12.8,4.5,12.8,13.5v23.9c0,0.6-0.3,0.9-0.9,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9V43.1
                                c0-7.3-3.1-10.8-10-10.8c-3.9,0-7.7,1-11.3,3c1.2,2,1.7,4.5,1.7,7.6v23.9c0,0.6-0.3,0.9-0.9,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9V43.1
                                c0-7.2-3.4-10.8-10.3-10.8c-3.2,0-6,0.6-8.5,1.7c-1,0.5-1.5,1.3-1.5,2.5v30.2c0,0.6-0.3,0.9-0.8,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9
                                v-31c0-2.2,0.6-3.1,2.8-4.1c3.3-1.5,6.9-2.2,10.8-2.2c4.3,0,7.5,1.2,9.7,3.5C103.1,30.6,107.5,29.4,112.3,29.4z"/>
                                                        <path class="st1" d="M162.2,14c1.4,0,1.7,0.4,1.7,1.7v2.5c0,1.4-0.4,1.8-1.7,1.8h-12.1c-6.9,0-9.4,2.4-9.4,8.9v1.4h21.4
                                c1.4,0,1.7,0.4,1.7,1.7v34c0,1.4-0.4,1.7-1.7,1.7h-3.1c-1.4,0-1.7-0.4-1.7-1.7V36.3h-16.6V66c0,1.4-0.4,1.7-1.8,1.7h-2.9
                                c-1.4,0-1.8-0.4-1.8-1.7V36.3h-5.5c-1.2,0-1.7-0.5-1.7-1.7V32c0-1.2,0.4-1.7,1.7-1.7h5.5v-1.4c0-10.4,4.9-14.9,15.9-14.9L162.2,14
                                L162.2,14z"/>
                                <path class="st1" d="M185.9,29.2c9.8,0,14.7,4.8,14.7,14.4V66c0,1.4-0.5,1.7-1.7,1.7h-3c-1.2,0-1.7-0.4-1.7-1.7V43.8
                                c0-5.7-3-8.6-9.1-8.6c-2.9,0-5.7,0.4-8.4,1.3c-0.6,0.2-0.9,0.6-0.9,1.3V66c0,1.4-0.4,1.7-1.7,1.7h-3.1c-1.2,0-1.7-0.5-1.7-1.7V35.7
                                c0-2.3,0.5-3.1,2.8-4.1C176,30,180.6,29.2,185.9,29.2z"/>
                                <path class="st1" d="M204.5,43.1c0-8.7,6.1-13.9,16.3-13.9c10.4,0,16.3,5.2,16.3,13.9v11.8c0,8.6-6,13.9-16.3,13.9
                                c-10.2,0-16.3-5.2-16.3-13.9V43.1z M230.7,43c0-5-3.7-8-9.9-8c-6.1,0-9.8,3-9.8,8v11.9c0,5,3.7,8,9.8,8c6.2,0,9.9-3,9.9-8V43z"/>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="286.3804" y1="29.3299" x2="267.5062" y2="57.9724" gradientTransform="matrix(1 0 0 -1 -0.8883 84.1859)">
                                    <stop  offset="0" style="stop-color:#DEDC00"/>
                                    <stop  offset="0.2151" style="stop-color:#95C11F"/>
                                    <stop  offset="1" style="stop-color:#00663A"/>
                                </linearGradient>
                                <path class="st2" d="M288.1,39c1,0,1.4,0.7,1,1.6l-4.4,8.6c-0.3,0.6-1.1,1.1-1.8,1.1h-5.1c-3.4,0-6.5-0.9-9.2-2.5
                                c-3.6-2.4-6-6-6-10.1c0-7.1,6.5-12.9,15.2-12.9c-3.9,0-7.1,3.2-7.1,7.1c0,3.9,3.2,7.1,7.1,7.1L288.1,39L288.1,39z"/>
                                <linearGradient id="SVGID_00000127730724505922006500000015773728883974292414_" gradientUnits="userSpaceOnUse" x1="264.7014" y1="47.8636" x2="301.8663" y2="86.8378" gradientTransform="matrix(1 0 0 -1 -0.8883 84.1859)">
                                <stop  offset="0" style="stop-color:#DEDC00"/>
                                <stop  offset="0.2151" style="stop-color:#95C11F"/>
                                <stop  offset="0.4162" style="stop-color:#5A9E33"/>
                                <stop  offset="1" style="stop-color:#5A9E33"/>
                            </linearGradient>
                            <path style="fill:url(#SVGID_00000127730724505922006500000015773728883974292414_);" d="M259.4,31.9c0-10.2,8.3-18.4,18.4-18.4
                                h10.3c1,0,1.4,0.7,1,1.6l-4.4,8.6c-0.3,0.6-1.1,1.1-1.8,1.1h-5.1c-8.6,0-15.2,5.8-15.2,12.9c0,4.1,2.3,7.8,6,10.1
                                C263.1,44.7,259.4,38.7,259.4,31.9z"/>
                            <rect x="249.7" y="5.2" class="st0" width="1" height="52.2"/></g>
                        </svg>
                        <div class="comfino-title" data-bind="i18n: 'Choose payment method'">Wybierz sposób płatności</div>
                    </div>
                    <main class="comfino-subbox">
                        <section id="comfino-offer-items" class="comfino-select-payment"></section>
                        <section class="comfino-payment-box">
                            <div class="comfino-payment-title" data-bind="i18n: 'Value of purchase'">Wartość zakupów:</div>
                            <div id="comfino-total-payment" class="comfino-total-payment"></div>
                        </section>
                        <section id="comfino-installments">
                            <section class="comfino-installments-box">
                                <div class="comfino-installments-title" data-bind="i18n: 'Choose number of instalments'">Wybierz ilość rat</div>
                                <div id="comfino-quantity-select" class="comfino-quantity-select"></div>
                            </section>
                            <section class="comfino-monthly-box">
                                <div class="comfino-monthly-title" data-bind="i18n: 'Monthly instalment'">Miesięczna rata:</div>
                                <div id="comfino-monthly-rate" class="comfino-monthly-rate"></div>
                            </section>
                            <section class="comfino-summary-box">
                                <div class="comfino-summary-total"><span data-bind="i18n: 'Total amount to pay'">Łączna kwota do spłaty</span>: <span id="comfino-summary-total"></span></div>
                                <div class="comfino-rrso">RRSO <span id="comfino-rrso"></span></div>
                                <div id="comfino-description-box" class="comfino-description-box"></div>
                            </section>
                            <footer>
                                <a id="comfino-repr-example-link" class="representative comfino-footer-link" data-bind="i18n: 'Representative Example'">Przykład reprezentatywny</a>
                                <div id="modal-repr-example" class="comfino-modal">
                                    <div class="comfino-modal-bg comfino-modal-exit"></div>
                                    <div class="comfino-modal-container">
                                        <span id="comfino-repr-example"></span>
                                        <button class="comfino-modal-close comfino-modal-exit">&times;</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                        <section id="comfino-payment-delay" class="comfino-payment-delay">
                            <div class="comfino-payment-delay__title"><span data-bind="i18n: 'Buy now, pay in 30 days'">Kup teraz, zapłać za 30 dni</span> <span data-bind="i18n: 'How it\'s working?'">Jak to działa?</span></div>
                            <div class="comfino-payment-delay__box">
                                <div class="comfino-helper-box">
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <img src="//widget.comfino.pl/image/comfino/ecommerce/magento/icons/cart.svg" alt="" class="single-instruction-img" />
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Put the product in the basket'">Włóż produkt do koszyka</div>
                                    </div>
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <img src="//widget.comfino.pl/image/comfino/ecommerce/magento/icons/comfino.svg" alt="" class="single-instruction-img" />
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Choose Comfino payment'">Wybierz płatność Comfino</div>
                                    </div>
                                </div>
                                <div class="comfino-helper-box">
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <img src="//widget.comfino.pl/image/comfino/ecommerce/magento/icons/check.svg" alt="" class="single-instruction-img" />
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Check the products at home'">Sprawdź produkty w domu</div>
                                    </div>
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <img src="//widget.comfino.pl/image/comfino/ecommerce/magento/icons/wallet.svg" alt="" class="single-instruction-img" />
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Pay in 30 days'">Zapłać za 30 dni</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked() && isMethodAvailable())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place order'"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="message message-warning warning" data-bind="visible: !isMethodAvailable()">
        <!-- ko i18n: 'No offers currently available.' --><!-- /ko -->
    </div>
</div>
