<style>
    .payment-method-content .comfino {
        max-width: 700px;
        margin: 0 auto;
        padding: 10px;
        font-family: Lato, sans-serif;
        background-color: #fff;
    }

    .payment-method-content .comfino-box {
    }

    .payment-method-content .header {
        display: flex;
        flex-direction: column;
    }

    .payment-method-content .comfino-logo {
        max-height: 40px;
        width: 260px;
        margin: 0 auto;
    }

    .payment-method-content .comfino-title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0.875rem 0;
    }

    .payment-method-content .comfino-select-payment {
    }

    .payment-method-content .comfino-single-payment {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
    }

    .payment-method-content .comfino-single-payment label {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .payment-method-content .comfino-single-payment__text {
        padding-left: 5px;
    }

    .payment-method-content .comfino-single-payment input {
        width: 25px;
        height: 25px;
    }

    .payment-method-content .comfino-input[type="radio"]:checked, .comfino-input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label, .comfino-input[type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        color: #666;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:before, .comfino-input[type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        border: 2px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:after, .comfino-input[type="radio"]:not(:checked)+label:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #599e33;;
        position: absolute;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .payment-method-content .comfino-input[type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .payment-method-content .comfino-input[type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .payment-method-content .comfino-payment-box {
        background-color: rgb(221, 221, 221);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .payment-method-content .comfino-payment-title {
        color: #666;
    }

    .payment-method-content .comfino-total-payment {
        font-weight: bold;
    }

    .payment-method-content .comfino-installments-box {
        display: flex;
        flex-direction: column;
    }

    .payment-method-content .comfino-installments-title {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }

    .payment-method-content .comfino-quantity-select {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90%;
        justify-content: center;
        margin: 0 auto;
    }

    .payment-method-content .comfino-select-box {
        display: flex;
    }

    .payment-method-content .comfino-installments-quantity {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(221, 221, 221);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.4rem;
        margin: 10px 20px;
        cursor: pointer;
    }

    .payment-method-content .comfino-active {
        background-color: #599e33;;
    }

    .payment-method-content .comfino-monthly-box {
        background-color: #599e33;;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.2rem;
        color: #fff;
        margin-top: 1rem;
    }

    .payment-method-content .comfino-monthly-title {
        font-size: 1.2rem;
        text-align: center;
    }

    .payment-method-content .comfino-monthly-rate {
        font-weight: bold;
    }

    .payment-method-content .comfino-summary-box {
        text-align: center;
        font-size: .8rem;
        color: gray;
    }

    .payment-method-content .comfino-summary-total {
        padding: .5rem 0;
    }

    .payment-method-content .comfino-rrso {
    }

    .payment-method-content .comfino-footer-link {
        display: block;
        text-align: center;
        padding: .5rem 0;
        color: gray;
        font-size: .7rem;
        margin: 1rem 0 2rem 0;
    }

    .payment-method-content .comfino-payment-delay {
        padding: 1rem;
    }

    .payment-method-content .comfino-payment-delay__title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .payment-method-content .comfino-payment-delay__title span {
        display: block;
        color: #599e33;
        padding: .3rem 0;
    }

    .payment-method-content .comfino-payment-delay__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .payment-method-content .comfino-helper-box {
        display: flex;
        margin-top: 10px;
    }

    .payment-method-content .comfino-payment-delay__single-instruction {
        width: 140px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .payment-method-content .comfin-single-instruction__text {
        text-align: center;
        font-size: .9rem;
        padding-top: 1rem;
        color: #666;
    }

    .payment-method-content .single-instruction-img__background {
        width: 50px;
        height: 50px;
        background-color: #599e33;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
    }

    .payment-method-content .single-instruction-img {
        width: 100px;
        filter: invert(100%)
    }

    .comfino-modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .comfino-modal.open {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }

    .comfino-modal-bg {
        position: absolute;
        background: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
    }

    .comfino-modal-container {
        width: 50%;
        border-radius: 10px;
        background: #fff;
        position: relative;
        padding: 30px;
    }

    .comfino-modal-close {
        position: absolute;
        right: 15px;
        top: 15px;
        outline: none;
        appearance: none;
        color: red;
        background: none;
        border: 0px;
        font-weight: bold;
        cursor: pointer;
    }

    a.representative {
        cursor: pointer;
    }

    a.representative:hover {
        filter: brightness(150%);
    }

    .comfino-icon {
        width: 32px;
        height: 32px;
        padding-top: 2px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #comfino-installments {
        display: none;
    }

    #comfino-payment-delay {
        display: none;
    }
</style>

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content" data-bind="visible: isMethodAvailable()">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div id="comfino-offers" data-bind="attr: { src: initPayments() }" class="takpay-offers-block" style="display: block; margin-bottom: 20px;">
            <div id="comfino-box" class="comfino">
                <div class="comfino-box">
                    <div class="header">
                        <svg version="1.1" class="comfino-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 294 75" style="enable-background:new 0 0 294 75;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#878787;}
                                .st1{fill:#5A9E33;}
                                .st2{fill:url(#SVGID_1_);}
                                .st3{fill:url(#SVGID_00000065044133299419642800000008049885483574451335_);}
                            </style><g>
                            <path class="st0" d="M5.8,43.5c0-8.9,5.3-14.1,15.5-14.1c8.1,0,13,3.3,15,9.9c0.2,0.6,0,1-0.5,1.2l-1.2,0.4c-0.6,0.2-0.9,0-1.2-0.6
                                c-1.7-5.7-5.2-8.2-12.2-8.2c-8.1,0-12.3,4.1-12.3,11.1v11.3c0,7,4.4,11.2,12.3,11.2c6.9,0,10.7-2.8,12.3-8.6
                                c0.2-0.6,0.6-0.8,1.2-0.6l1.3,0.4c0.6,0.2,0.7,0.6,0.5,1.2c-2.1,7-7.3,10.5-15.3,10.5c-9.9,0-15.3-5.2-15.3-14.1L5.8,43.5L5.8,43.5
                                z"/>
                                                        <path class="st0" d="M39.5,42.2c0-7.8,6-12.8,15.5-12.8c9.6,0,15.6,4.9,15.6,12.8V56c0,7.8-6,12.7-15.6,12.7
                                c-9.5,0-15.5-4.9-15.5-12.7V42.2z M67.5,42.2c0-6.1-4.9-9.9-12.5-9.9c-7.5,0-12.4,3.9-12.4,9.9V56c0,6,4.9,9.9,12.4,9.9
                                c7.5,0,12.5-3.8,12.5-9.9V42.2z"/>
                                                        <path class="st0" d="M112.3,29.4c8.5,0,12.8,4.5,12.8,13.5v23.9c0,0.6-0.3,0.9-0.9,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9V43.1
                                c0-7.3-3.1-10.8-10-10.8c-3.9,0-7.7,1-11.3,3c1.2,2,1.7,4.5,1.7,7.6v23.9c0,0.6-0.3,0.9-0.9,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9V43.1
                                c0-7.2-3.4-10.8-10.3-10.8c-3.2,0-6,0.6-8.5,1.7c-1,0.5-1.5,1.3-1.5,2.5v30.2c0,0.6-0.3,0.9-0.8,0.9h-1.4c-0.6,0-0.9-0.3-0.9-0.9
                                v-31c0-2.2,0.6-3.1,2.8-4.1c3.3-1.5,6.9-2.2,10.8-2.2c4.3,0,7.5,1.2,9.7,3.5C103.1,30.6,107.5,29.4,112.3,29.4z"/>
                                                        <path class="st1" d="M162.2,14c1.4,0,1.7,0.4,1.7,1.7v2.5c0,1.4-0.4,1.8-1.7,1.8h-12.1c-6.9,0-9.4,2.4-9.4,8.9v1.4h21.4
                                c1.4,0,1.7,0.4,1.7,1.7v34c0,1.4-0.4,1.7-1.7,1.7h-3.1c-1.4,0-1.7-0.4-1.7-1.7V36.3h-16.6V66c0,1.4-0.4,1.7-1.8,1.7h-2.9
                                c-1.4,0-1.8-0.4-1.8-1.7V36.3h-5.5c-1.2,0-1.7-0.5-1.7-1.7V32c0-1.2,0.4-1.7,1.7-1.7h5.5v-1.4c0-10.4,4.9-14.9,15.9-14.9L162.2,14
                                L162.2,14z"/>
                                <path class="st1" d="M185.9,29.2c9.8,0,14.7,4.8,14.7,14.4V66c0,1.4-0.5,1.7-1.7,1.7h-3c-1.2,0-1.7-0.4-1.7-1.7V43.8
                                c0-5.7-3-8.6-9.1-8.6c-2.9,0-5.7,0.4-8.4,1.3c-0.6,0.2-0.9,0.6-0.9,1.3V66c0,1.4-0.4,1.7-1.7,1.7h-3.1c-1.2,0-1.7-0.5-1.7-1.7V35.7
                                c0-2.3,0.5-3.1,2.8-4.1C176,30,180.6,29.2,185.9,29.2z"/>
                                <path class="st1" d="M204.5,43.1c0-8.7,6.1-13.9,16.3-13.9c10.4,0,16.3,5.2,16.3,13.9v11.8c0,8.6-6,13.9-16.3,13.9
                                c-10.2,0-16.3-5.2-16.3-13.9V43.1z M230.7,43c0-5-3.7-8-9.9-8c-6.1,0-9.8,3-9.8,8v11.9c0,5,3.7,8,9.8,8c6.2,0,9.9-3,9.9-8V43z"/>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="286.3804" y1="29.3299" x2="267.5062" y2="57.9724" gradientTransform="matrix(1 0 0 -1 -0.8883 84.1859)">
                                    <stop  offset="0" style="stop-color:#DEDC00"/>
                                    <stop  offset="0.2151" style="stop-color:#95C11F"/>
                                    <stop  offset="1" style="stop-color:#00663A"/>
                                </linearGradient>
                                <path class="st2" d="M288.1,39c1,0,1.4,0.7,1,1.6l-4.4,8.6c-0.3,0.6-1.1,1.1-1.8,1.1h-5.1c-3.4,0-6.5-0.9-9.2-2.5
                                c-3.6-2.4-6-6-6-10.1c0-7.1,6.5-12.9,15.2-12.9c-3.9,0-7.1,3.2-7.1,7.1c0,3.9,3.2,7.1,7.1,7.1L288.1,39L288.1,39z"/>
                                <linearGradient id="SVGID_00000127730724505922006500000015773728883974292414_" gradientUnits="userSpaceOnUse" x1="264.7014" y1="47.8636" x2="301.8663" y2="86.8378" gradientTransform="matrix(1 0 0 -1 -0.8883 84.1859)">
                                <stop  offset="0" style="stop-color:#DEDC00"/>
                                <stop  offset="0.2151" style="stop-color:#95C11F"/>
                                <stop  offset="0.4162" style="stop-color:#5A9E33"/>
                                <stop  offset="1" style="stop-color:#5A9E33"/>
                            </linearGradient>
                            <path style="fill:url(#SVGID_00000127730724505922006500000015773728883974292414_);" d="M259.4,31.9c0-10.2,8.3-18.4,18.4-18.4
                                h10.3c1,0,1.4,0.7,1,1.6l-4.4,8.6c-0.3,0.6-1.1,1.1-1.8,1.1h-5.1c-8.6,0-15.2,5.8-15.2,12.9c0,4.1,2.3,7.8,6,10.1
                                C263.1,44.7,259.4,38.7,259.4,31.9z"/>
                            <rect x="249.7" y="5.2" class="st0" width="1" height="52.2"/></g>
                        </svg>
                        <div class="comfino-title" data-bind="i18n: 'Choose payment method'">Wybierz sposób płatności</div>
                    </div>
                    <main>
                        <section id="comfino-offer-items" class="comfino-select-payment"></section>
                        <section class="comfino-payment-box">
                            <div class="comfino-payment-title" data-bind="i18n: 'Value of purchase'">Wartość zakupów:</div>
                            <div id="comfino-total-payment" class="comfino-total-payment"></div>
                        </section>
                        <section id="comfino-installments">
                            <section class="comfino-installments-box">
                                <div class="comfino-installments-title" data-bind="i18n: 'Choose number of instalments'">Wybierz ilość rat</div>
                                <div id="comfino-quantity-select" class="comfino-quantity-select"></div>
                            </section>
                            <section class="comfino-monthly-box">
                                <div class="comfino-monthly-title" data-bind="i18n: 'Monthly instalment'">Miesięczna rata:</div>
                                <div id="comfino-monthly-rate" class="comfino-monthly-rate"></div>
                            </section>
                            <section class="comfino-summary-box">
                                <div class="comfino-summary-total"><span data-bind="i18n: 'Total amount to pay'">Łączna kwota do spłaty</span>: <span id="comfino-summary-total"></span></div>
                                <div class="comfino-rrso">RRSO <span id="comfino-rrso"></span></div>
                                <div id="comfino-description-box" class="comfino-description-box"></div>
                            </section>
                            <footer>
                                <a id="comfino-repr-example-link" class="representative comfino-footer-link" data-bind="i18n: 'Representative Example'">Przykład reprezentatywny</a>
                                <div id="modal-repr-example" class="comfino-modal">
                                    <div class="comfino-modal-bg comfino-modal-exit"></div>
                                    <div class="comfino-modal-container">
                                        <span id="comfino-repr-example"></span>
                                        <button class="comfino-modal-close comfino-modal-exit">&times;</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                        <section id="comfino-payment-delay" class="comfino-payment-delay">
                            <div class="comfino-payment-delay__title"><span data-bind="i18n: 'Buy now, pay in 30 days'">Kup teraz, zapłać za 30 dni</span> <span data-bind="i18n: 'How it\'s working?'">Jak to działa?</span></div>
                            <div class="comfino-payment-delay__box">
                                <div class="comfino-helper-box">
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <svg version="1.0" class="single-instruction-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 566.93 566.93" style="enable-background:new 0 0 566.93 566.93;" xml:space="preserve">
                                                <path d="M91,121.87c2.69-6.51,7.61-8.75,14.52-8.57c12.47,0.32,24.95,0.05,37.42,0.1c15.21,0.06,24.78,7.46,28.76,22.19
                                                    c3.93,14.55,7.89,29.08,11.66,43.67c0.68,2.65,1.73,3.54,4.52,3.55c54.89,0.14,109.77,0.39,164.66,0.63
                                                    c32.68,0.14,65.36,0.28,98.04,0.48c15.98,0.1,26.4,12.66,22.89,28.23c-8.88,39.36-17.97,78.68-27.21,117.96
                                                    c-3.05,12.96-13.79,21.05-27.28,21.4c-4.74,0.12-9.48,0.03-14.22,0.03c-66.36-0.04-132.73-0.08-199.09-0.11
                                                    c-1.74,0-3.5-0.01-5.23,0.18c-6.5,0.7-11.08,5.89-11.08,12.47c0,6.55,4.63,11.7,11.18,12.34c1.73,0.17,3.49,0.14,5.23,0.14
                                                    c73.1,0.01,146.2,0,219.31,0.01c8.89,0,14.17,5.09,13.31,12.77c-0.42,3.76-2.28,6.21-7.02,9.2c7.37,20.23,3.75,37.62-14.46,50.31
                                                    c-13.25,9.23-31.26,8.36-44.24-1.13c-14.84-10.86-18.96-25.96-13.04-48.4c-23.29,0-46.51,0-69.88,0
                                                    c6.97,19.94,3.2,37.16-14.63,49.34c-13.85,9.46-29.07,9.36-42.89-0.05c-17.72-12.06-21.42-29.23-14.49-49.59
                                                    c-5.38,0-10.44,0.07-15.49-0.01c-18.23-0.29-32.31-12.37-35.1-30.05c-3.01-19.11,11.06-37.55,30.31-39.74
                                                    c0.85-0.1,1.7-0.22,2.84-0.37c-0.31-1.46-0.53-2.78-0.87-4.06c-16.45-61.08-32.92-122.16-49.38-183.24
                                                    c-1.33-4.94-2.2-5.63-7.24-5.63c-12.47-0.01-24.95-0.17-37.42,0.06c-6.89,0.13-11.84-2.23-14.36-8.86C91,125.36,91,123.62,91,121.87
                                                    z M204.18,256.19c14.59,0,28.86,0,43.47,0c-0.14-1.72-0.19-3.19-0.38-4.65c-1.9-14.19-3.92-28.36-5.65-42.57
                                                    c-0.34-2.75-1.22-3.51-3.87-3.5c-13.7,0.03-27.4-0.11-41.11-0.19c-1.93-0.01-3.86,0-6.18,0
                                                    C195.15,222.68,199.67,239.45,204.18,256.19z M336.06,256.07c0.64,0.13,1.11,0.32,1.58,0.32c12.83,0.02,25.66-0.03,38.49,0.08
                                                    c2.45,0.02,2.81-1.22,3.06-3.18c1.13-9.01,2.38-18.01,3.55-27.02c0.86-6.61,1.68-13.24,2.55-20.15c-16.71,0-32.95,0-49.22,0
                                                    C336.06,222.92,336.06,239.44,336.06,256.07z M313.25,205.88c-16.68,0-32.94,0-49.44,0c2.27,16.97,4.51,33.68,6.73,50.25
                                                    c14.6,0,28.61,0,42.71,0C313.25,239.3,313.25,222.76,313.25,205.88z M451.86,206.22c-14.23,0-27.93-0.05-41.63,0.12
                                                    c-0.87,0.01-2.34,1.61-2.49,2.62c-1.37,8.99-2.53,18.01-3.71,27.02c-0.87,6.65-1.69,13.3-2.56,20.22c13.16,0,25.93,0,38.85,0
                                                    C444.13,239.66,447.91,223.31,451.86,206.22z M210.27,278.88c4.29,15.83,8.34,30.94,12.53,46.02c0.85,3.04,3.44,4.12,6.41,4.16
                                                    c4.61,0.06,9.21,0.02,13.82,0.03c4.68,0,9.37,0,14.24,0c-0.08-1.65-0.05-2.76-0.2-3.85c-1.53-11.59-3.04-23.19-4.65-34.77
                                                    c-0.52-3.78-0.07-8.99-2.31-10.87c-2.3-1.93-7.35-0.67-11.19-0.69C229.6,278.85,220.29,278.88,210.27,278.88z M375.66,279.08
                                                    c-13.57,0-26.47,0-39.55,0c0,16.69,0,33.16,0,49.98c10.57,0,20.88,0.06,31.19-0.12c0.74-0.01,1.94-1.63,2.09-2.63
                                                    c1.1-7.01,2-14.05,2.92-21.08C373.44,296.63,374.52,288.02,375.66,279.08z M313.17,328.88c0-16.68,0-33.17,0-49.78
                                                    c-13.24,0-26.25,0-39.61,0c2.23,16.75,4.43,33.23,6.64,49.78C291.37,328.88,302.16,328.88,313.17,328.88z M435,279.08
                                                    c-12.43,0-24.34,0-36.6,0c-2.19,16.59-4.37,33.07-6.59,49.93c9.46,0,18.52,0.13,27.59-0.07c3.34-0.07,4.79-2.58,5.48-5.68
                                                    c1.99-8.99,4.09-17.95,6.15-26.92C432.31,290.68,433.62,285.03,435,279.08z M253.76,432.69c9.34-0.04,16.92-7.67,16.81-16.93
                                                    c-0.11-9.08-7.66-16.62-16.76-16.72c-9.23-0.1-16.88,7.54-16.9,16.86C236.89,425.31,244.33,432.73,253.76,432.69z M395.49,432.69
                                                    c9.41,0.08,16.93-7.32,16.98-16.69c0.05-9.27-7.59-16.97-16.83-16.96c-9.1,0.01-16.62,7.45-16.78,16.62
                                                    C378.7,425.01,386.12,432.61,395.49,432.69z"/>
                                            </svg>
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Put the product in the basket'">Włóż produkt do koszyka</div>
                                    </div>
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <svg version="1.0" class="single-instruction-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 566.93 566.93" style="enable-background:new 0 0 566.93 566.93;" xml:space="preserve">
                                                <path d="M91,365.15c2.65-6.79,7.56-9.73,14.87-9.3c5.45,0.33,10.93,0.06,16.99,0.06c0-1.9,0-3.47,0-5.04
                                                    c0-57.13,0.06-114.26-0.04-171.4c-0.03-14.07,4.9-25.53,16.31-33.95c6.29-4.63,13.41-7.23,21.24-7.23
                                                    c81.46-0.05,162.91-0.19,244.37,0.1c16.37,0.06,28.19,8.8,34.45,23.83c2.27,5.45,3.05,11.87,3.07,17.85
                                                    c0.22,56.88,0.13,113.77,0.13,170.65c0,1.58,0,3.16,0,5.19c6.31,0,12.13-0.01,17.96,0c9.41,0.03,13.89,4.56,13.9,14.06
                                                    c0.01,9.48,0.02,18.96,0,28.44c-0.04,19.11-12.72,31.93-31.88,31.97c-38.55,0.07-77.09,0.02-115.64,0.02
                                                    c-67.61,0-135.22-0.06-202.83,0.05c-12.2,0.02-21.96-4.18-28.38-14.71c-2.03-3.33-3.04-7.27-4.52-10.93
                                                    C91,391.59,91,378.37,91,365.15z M418.34,355.72c0-1.63,0-2.86,0-4.09c0-57.49,0.01-114.98-0.01-172.47
                                                    c0-11.27-5.74-16.92-17.08-16.92c-79.06,0-158.13,0-237.19,0c-11.54,0-17.15,5.61-17.15,17.22c-0.01,57.36,0,114.73,0,172.09
                                                    c0,1.32,0,2.65,0,4.16C237.54,355.72,327.65,355.72,418.34,355.72z M115.46,379.93c-0.26,0.76-0.41,0.99-0.41,1.22
                                                    c-0.03,5.11-0.06,10.23-0.06,15.34c-0.01,8.35,1.5,9.88,9.7,9.88c105.29,0,210.58,0,315.87,0c1.25,0,2.5,0.05,3.74-0.04
                                                    c3.15-0.23,5.53-2.06,5.68-5c0.37-7.04,0.12-14.11,0.12-21.17c-0.86-0.1-1.35-0.21-1.84-0.21c-41.42-0.01-82.83,0-124.25-0.05
                                                    c-1.94,0-2.75,0.68-3.49,2.47c-2.02,4.85-5.94,7.36-11.14,7.38c-17.84,0.09-35.68,0.08-53.52,0c-4.87-0.02-8.91-2.16-10.75-6.74
                                                    c-1.15-2.88-2.82-3.13-5.38-3.13c-40.17,0.06-80.34,0.04-120.51,0.04C117.99,379.93,116.76,379.93,115.46,379.93z"/>
                                                <path d="M298.13,315.14c-10.22,0-19.82,0-29.93,0c0-19.69,0-39.27,0-59.52c-10.2,0-19.92,0-29.94,0c0-10.27,0-19.86,0-29.91
                                                    c29.65,0,59.37,0,89.49,0c0,9.8,0,19.48,0,29.15c-12.47,1.02-22.01-6.16-29.61-23.06C298.13,260.42,298.13,287.64,298.13,315.14z"/>
                                            </svg>
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Choose Twisto payment'">Wybierz płatność Twisto</div>
                                    </div>
                                </div>
                                <div class="comfino-helper-box">
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <svg version="1.0" class="single-instruction-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 566.93 566.93" style="enable-background:new 0 0 566.93 566.93;" xml:space="preserve">
                                            <path d="M106.92,284.16c0.28-97.23,79.16-175.86,176.22-175.63c96.52,0.22,175.68,79.65,175.3,175.88
                                                c-0.39,97.95-79.45,176.05-177.76,175.58C185.24,459.53,106.64,380,106.92,284.16z M138.91,284.02c0,79.36,64.14,143.85,143.22,144
                                                c79.71,0.15,144.37-64.42,144.31-144.08c-0.06-78.9-64.54-143.37-143.43-143.4C203.47,140.5,138.91,204.79,138.91,284.02z"/>
                                            <path d="M267.25,310.01c8.13-7.44,16.11-14.76,24.09-22.07c19.86-18.2,39.74-36.38,59.57-54.61c3.78-3.48,8.07-5.46,13.23-4.83
                                                c6.67,0.81,11.36,4.45,13.5,10.82c2.15,6.39,0.58,12.18-4.32,16.74c-11.58,10.8-23.32,21.44-34.99,32.14
                                                c-19.76,18.12-39.47,36.31-59.37,54.29c-2.58,2.33-5.93,4.33-9.25,5.2c-5.35,1.41-10.37-0.29-14.38-4.3
                                                c-15.97-15.96-31.98-31.87-47.87-47.91c-6.6-6.67-6.48-16.42-0.05-22.78c6.23-6.16,15.99-6.19,22.53,0.24
                                                c11.47,11.28,22.79,22.72,34.18,34.09C265.08,307.98,266.07,308.89,267.25,310.01z"/>
                                            </svg>
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Check the products at home'">Sprawdź produkty w domu</div>
                                    </div>
                                    <div class="comfino-payment-delay__single-instruction">
                                        <div class="single-instruction-img__background">
                                            <svg version="1.0" class="single-instruction-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 566.93 566.93" style="enable-background:new 0 0 566.93 566.93;" xml:space="preserve">
                                                <path d="M415.2,475.93c-95.84,0-191.68,0-287.51,0c-0.69-0.23-1.37-0.56-2.08-0.68c-12.89-2.26-22.82-9-29.13-20.4
                                                    c-2.53-4.56-3.7-9.88-5.48-14.85c0-71.37,0-142.73,0-214.1c0.23-0.7,0.53-1.38,0.69-2.1c3.66-17.09,13.98-27.94,30.73-32.7
                                                    c2.22-0.63,4.54-0.9,7.07-1.39c-1.68-4.63-3.28-8.94-4.81-13.27c-5.27-14.93,1.04-29.13,15.86-34.58
                                                    c43.36-15.94,86.76-31.75,130.21-47.44c14.19-5.13,28.36,1.64,33.75,15.74c2.8,7.32,5.52,14.69,7.97,22.14
                                                    c0.93,2.82,2.14,3.81,5.22,3.79c22.83-0.15,45.66-0.17,68.49-0.03c14.53,0.09,25.79,11.42,26,25.92c0.12,8.11,0.03,16.21,0.03,24.32
                                                    c0,1.18,0,2.36,0,3.47c24.87,2.82,39.67,19.36,39.68,43.75c0.01,12.22,0,24.45,0,36.67c0,1.95,0,3.91,0,5.78
                                                    c0.88,0.31,1.33,0.51,1.81,0.63c12.88,3.33,20.61,13.09,20.64,26.29c0.05,19.71,0.08,39.41-0.02,59.12
                                                    c-0.06,12.13-7.84,22.09-19.49,25.37c-0.92,0.26-1.85,0.51-2.94,0.81c0,1.54,0,2.9,0,4.26c-0.01,14.34,0.15,28.69-0.07,43.03
                                                    c-0.26,17.82-12.12,33.35-29.09,38.5C420.26,474.74,417.72,475.29,415.2,475.93z M429.43,388.28c-14.46,0-28.31,0.16-42.15-0.03
                                                    c-30.02-0.41-54.76-25.15-55.17-54.94c-0.43-31.7,24.36-57.03,56.14-57.28c12.35-0.1,24.71-0.02,37.06-0.02c1.31,0,2.63,0,4.12,0
                                                    c0-15.16,0.05-29.75-0.02-44.34c-0.05-11.33-7.99-19.27-19.39-19.27c-92.34-0.03-184.68-0.03-277.01,0
                                                    c-11.64,0-19.53,7.91-19.53,19.51c-0.03,67.24-0.02,134.49,0,201.73c0,11.79,7.94,19.77,19.71,19.78
                                                    c92.21,0.02,184.43,0.03,276.64,0c11.56,0,19.54-8,19.59-19.52c0.06-14.1,0.01-28.2,0.01-42.29
                                                    C429.43,390.61,429.43,389.65,429.43,388.28z M289.81,135.65c-2-5.62-3.91-11.13-5.92-16.59c-1.44-3.91-2.84-4.53-6.89-3.05
                                                    c-42.6,15.49-85.19,30.99-127.78,46.5c-3.98,1.45-4.66,2.9-3.25,6.83c2.06,5.74,4.41,11.39,6.23,17.2c0.89,2.84,2.33,3.44,5.08,3.44
                                                    c32.44-0.09,64.87-0.06,97.31-0.06c1.31,0,2.62,0,3.78,0c0.18-0.69,0.23-0.81,0.23-0.93c0.04-9.1-0.02-18.21,0.14-27.31
                                                    c0.21-12.1,8.58-22.38,20.4-24.93C282.5,136.02,286,136.02,289.81,135.65z M416.7,298.46c-8.98,0-17.96-0.03-26.95,0.02
                                                    c-2.24,0.01-4.51,0.03-6.71,0.41c-17.75,3.1-29.86,18.52-28.4,36.04c1.46,17.47,15.98,30.76,34,30.87
                                                    c19.21,0.12,38.42,0.04,57.63,0.02c4.44,0,5.59-1.13,5.59-5.47c0.02-18.83,0.02-37.67,0-56.5c0-4.4-1.05-5.38-5.62-5.39
                                                    C436.41,298.44,426.56,298.46,416.7,298.46z M281.19,189.66c36.41,0,72.36,0,108.55,0c0-8.46,0.01-16.67,0-24.88
                                                    c0-5.56-0.73-6.31-6.2-6.31c-32.04-0.01-64.07,0-96.11,0c-0.75,0-1.5-0.01-2.24,0.02c-2.55,0.1-3.97,1.47-3.98,3.98
                                                    C281.16,171.43,281.19,180.39,281.19,189.66z"/>
                                                    <path d="M388.12,343.36c-6.03-0.08-11.11-5.24-11.09-11.28c0.02-6.25,5.23-11.29,11.53-11.14c6.1,0.15,11.03,5.3,10.9,11.39
                                                    C399.34,338.38,394.13,343.44,388.12,343.36z"/>
                                                </svg>
                                        </div>
                                        <div class="comfin-single-instruction__text" data-bind="i18n: 'Pay in 30 days'">Zapłać za 30 dni</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked() && isMethodAvailable())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place order'"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="message message-warning warning" data-bind="visible: !isMethodAvailable()">
        <!-- ko i18n: 'No offers currently available.' --><!-- /ko -->
    </div>
</div>
