<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="comfino" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Comfino</label>
                <group id="comfino_payment_methods" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment methods</label>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                    </field>
                    <field id="api_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API key</label>
                        <config_path>payment/comfino/api_key</config_path>
                    </field>
                    <field id="tax_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Tax ID</label>
                        <config_path>payment/comfino/tax_id</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimal order value</label>
                        <config_path>payment/comfino/min_order_total</config_path>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Restrict payment method to specific countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment method allowed in countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                </group>
                <group id="comfino_widget" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget</label>
                    <field id="widget_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget is active?</label>
                        <config_path>payment/comfino/widget_enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="widget_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget key</label>
                        <config_path>payment/comfino/widget_key</config_path>
                    </field>
                    <field id="widget_price_selector" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget price element selector</label>
                        <config_path>payment/comfino/widget_price_selector</config_path>
                    </field>
                    <field id="widget_target_selector" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget anchor element selector</label>
                        <config_path>payment/comfino/widget_target_selector</config_path>
                    </field>
                    <field id="widget_type" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget type</label>
                        <config_path>payment/comfino/widget_type</config_path>
                        <source_model>Comfino\ComfinoGateway\Model\Adminhtml\System\Config\Source\WidgetType</source_model>
                    </field>
                    <field id="widget_offer_type" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Offer type</label>
                        <config_path>payment/comfino/widget_offer_type</config_path>
                        <source_model>Comfino\ComfinoGateway\Model\Adminhtml\System\Config\Source\WidgetOfferType</source_model>
                    </field>
                    <field id="widget_embed_method" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Embedding method</label>
                        <config_path>payment/comfino/widget_embed_method</config_path>
                        <source_model>Comfino\ComfinoGateway\Model\Adminhtml\System\Config\Source\WidgetEmbedMethod</source_model>
                    </field>
                    <field id="widget_code" translate="label" type="textarea" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget initialization code</label>
                        <config_path>payment/comfino/widget_code</config_path>
                    </field>
                </group>
                <group id="comfino_developers" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>For developers</label>
                    <field id="sandbox" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use test environment</label>
                        <config_path>payment/comfino/sandbox</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="api_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test environment API key</label>
                        <config_path>payment/comfino/sandbox_api_key</config_path>
                    </field>
                </group>
            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>
